@{
    ViewData["Title"] = "DPPSC";
}

<html>

    <body>

    <br><br>

        <h2>SEJA BEM VINDO(A) AO NOSSO SITE</h2>
        
    <br><br>

<main class="principal">

        <div class="slideshow-container">

            <div class="mySlides fade">

                <div class="numbertext">1/3</div>
                <a href="/Home/PageCLabDietetica"><img src="~/img/PanelaAberta.png" alt="" style="width: 100%"; height="500px"></a>

            </div>

            <div class="mySlides fade">

                <div class="numbertext">2/3</div>
                <img src="~/img/Ferias.gif" alt="" style="width: 100%"; height="500px">
                

            </div>

            <div class="mySlides fade">

                <div class="numbertext">3/3</div>
                <a href="https://consciencianegra.unifesp.br/"><img src="~/img/EventoCNegra.png" alt="" style="width: 100%"; height="500px"></a>
                

            </div>



            <a class="prev" onclick="plusSlides(-1)">&#10094</a>
            <a class="next" onclick="plusSlides(1)">&#10095</a>

            <div class="dot-container">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>

        </div>
        </main>

        <br><br>

    </body>
</html>
    