@{
    ViewData["Title"] = "Projetos e Parcerias";
}

<br>

<h2>PROJETOS E PARCERIAS DO DPPSC</h2>
    
    <br><br>

<h3>SAÚDE PELA TERRA</h3>

    <br>

    <div>
    <pr>PARCERIA DPPSC: Profa. Dra. Silvia Maria Tagé Thomaz</pr>
    </div>
    <br>
    <div style="text-align: justify;">
    <pr>DESCRIÇÃO E OBJETIVO: Difundir a cultura de utilização de ervas no tratamento e cuidados em saúde, através do exercício de plantio e cultivo de plantas na própria universidade.</pr>
    </div>
    <br>
    <div>
    <pr>Responsável/Coordenação: Ana Maria Ramos Estevão</pr>
    </div>
    <br>
    <div style="text-align: justify;">
    <pr>OUTRAS INFORMAÇÕES: Parcerias com comunidades indigenas, quilombolas, estação cidadania e movimentos socias da região.</pr>
    </div>
    <br>
    <div>
    <pr>Contato: silvia.tage@unifesp.br</a></pr>
    </div>
    
<br><br>

    <p>Clique <a href="PageD1ProjetosParcerias" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
