@{
    ViewData["Title"] = "Laboratórios e Núcleos";
}

<br>
<h2>LABORATÓRIOS E NÚCLEOS DO DPPSC</h2>
    <br><br>

<h3>NÚCLEO DE ESTUDOS AFROBRASILEIROS - NEAB</h3>
    <br>

    <div>
    <pr>Localização: Guarulhos/Santos</pr>
    </div>
    <br>
    <div>
    <pr>Responsável/Coordenação: Renata Gonçalves</pr>
    </div>
    <br>
    <div>
    <pr>Tipo de Uso: MULTIUSUÁRIO</pr>
    </div>
    <br>
    <div>
    <pr>Objetivo: Núcleo de estudos voltados para estudos e extensão no campo dos estudos africanos, afrodiaspóricos e afrobrasileiros</pr>
    </div>
    <br>
    <div>
    <pr>Link para site: <a href="https://www.unifesp.br/reitoria/proec/neab">https://www.unifesp.br/reitoria/proec/neab</a></pr>
    </div>
    <br>
    <div>
    <pr>Contato: neab@unifesp.br</pr>
    </div>
        
    <br>

<br><br>

    <p>Clique <a href="PageC1LaboratoriosNucleos" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
    
