@{
    ViewData["Title"] = "Sobre o Departamento";
}

<br>

           
        <h3>O DEPARTAMENTO DE POLÍTICAS PÚBLICAS E SAÚDE COLETIVA</h3>
          
    <br>

    <div style="text-align: justify;">
    <pr>O Departamento de Políticas Públicas e Saúde Coletiva - DPPSC - foi criado em 2012, passados seis anos de estruturação e consolidação do campus Baixada Santista. Sua proposição resultou de profícuo processo de discussão de um grupo de 15 docentes em torno de perfis e convergências e que igualmente considerou o papel social da Universidade pública brasileira - no que se refere à abordagem das Políticas Públicas e do campo da Saúde Coletiva.</pr>
    </div>

    <br>

    <div style="text-align: justify;">
    <pr>Assim, o DPPSC tem como finalidade “desenvolver atividades acadêmicas e científicas voltadas para as Políticas Públicas, os Direitos Humanos, o campo da Saúde em geral, e da Saúde Coletiva em particular” . Desse modo, tem contribuído com o debate sobre os determinantes sociais de saúde e das iniciativas intersetoriais envolvidas na elaboração das políticas públicas e na produção social da saúde.</pr>

    </div>

    <br>

    <div style="text-align: justify;">
    <pr>As áreas temáticas da atividade departamental são: o estudo de saúde das populações, políticas de saúde, políticas de alimentação e nutrição, planejamento e gestão dos serviços de saúde nos distintos níveis de atenção e as diferentes concepções e práticas de saúde, abordadas pelas formulações e práticas advindas da Saúde Coletiva. Outra área temática trata do campo das políticas e a necessária compreensão das relações Estado e Sociedade, das vulnerabilidades sociais, dos marcadores sociais e da garantia dos direitos humanos. As múltiplas dimensões das políticas públicas exigem uma íntima conexão de disciplinas das ciências sociais e humanas, de modo a considerar a variedade de áreas e campos de intervenção social do Estado, em sua configuração contemporânea.</pr>
    </div>
    
    <br>
    
    <div style="text-align: justify;">
    <pr>Na UNIFESP, os departamentos são a instância acadêmica à qual estão vinculados os docentes, e respondem pelo acompanhamento das atividades de ensino, pela pesquisa e pelas atividades de extensão, em áreas específicas do conhecimento. Além do DPPSC, o Instituto Saúde e Sociedade - ISS conta com os seguintes departamentos - Biociências; Ciências do Movimento Humano; Saúde, Clínica e Instituições; Saúde, Educação e Sociedade.</pr>    
    </div>

    <br><br>

    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
    
