@{
    ViewData["Title"] = "Laboratórios e Núcleos";
}

<br>
<h2>LABORATÓRIOS E NÚCLEOS DO DPPSC</h2>
     
    <br><br>


<h3>NÚCLEO DE POLÍTICAS PÚBLICAS SOCIAIS - NPPS</h3>
    <br>

    <div>
    <pr>Localização: Campus Baixada Santista</pr>
    </div>
    <br>
    <div>
    <pr>Responsável/Coordenação: Gisele Aparecida Bovolenta</pr>
    </div>
    <br>
    <div>
    <pr>Tipo de Uso: MULTIUSUÁRIO</pr>
    </div>
    <br>
    <div>
    <pr>Objetivo: Formação crítica e reflexiva e participação social de grupos em defesa dos direitos sociais, particularizando as políticas de Seguridade Social nos aspectos da gestão e execução na Região Metropolitana da Baixada Santista.</pr>
    </div>
    <br>
    <div>
    <pr>Breve Descrição: O NPPS - Núcleo de Políticas Públicas e Sociais - é um programa de extensão universitária do Instituto Saúde e Sociedade da Universidade Federal de São Paulo, campus Baixada Santista. Tem por objetivo entrelaçar o ensino, a pesquisa e a extensão em ações interprofissionais, interinstitucionais e intersetoriais voltadas ao tema das políticas públicas, da participação e do controle social, na perspectiva da defesa dos direitos sociais e consolidação da cidadania.</pr>
    </div>
    <br>
    <div>
    <pr>Contato: nppsunifespbs@outlook.com</pr>
    </div>
        
    <br>

<br><br>

    <p>Clique <a href="PageC1LaboratoriosNucleos" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
