@{
    ViewData["Title"] = "Laboratórios e Núcleos";
}

<br>

<h2>LABORATÓRIOS E NÚCLEOS DO DPPSC</h2>
     
    <br><br>


<h3>LABORATÓRIO DE ETOLOGIA CANINA</h3>
    <br>

    <div>
    <pr>Responsável/Coordenação: Carine Savalli Redigolo</pr>
    </div>
    <br>
    <div>
    <pr>Tipo de Uso: GRADUAÇÃO, PÓS GRADUAÇÃO</pr>
    </div>
    <br>
    <div>
    <pr>Objetivo: O objetivo do LECA - Laboratório de Etologia Canina é desenvolver pesquisas com abordagem etológica para compreender fenômenos comportamentais e interacionais entre cães e pessoas.</pr>
    </div>
    <br>
    <div>
    <pr>Breve Descrição: Os cães são considerados pela maioria dos tutores como membros da família. Essa relação afetiva entre pessoas e cães é duradoura e emocionalmente significativa, e tem grande impacto na vida e no bem-estar de ambos. De acordo com o Instituto Brasileiro de Geografia e Estatística (IBGE) em 2013 44,3% dos lares brasileiros possuiam pelo menos um cão. O LECA se dedica a estudar esta relação afetiva entre cães e pessoas.</pr>
    </div>
    <br>
    <div>
    <pr>Link para site: <a href="https://lableca.unifesp.br/">https://lableca.unifesp.br/</a></pr>
    </div>
    <br>
    <div>
    <pr>Contato: carine.savalli@unifesp.br</pr>
    </div>
        
    <br>

<br><br>

    <p>Clique <a href="PageC1LaboratoriosNucleos" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>

