@{
    ViewData["Title"] = "Projetos e Parcerias";
}

<br>

<h2>PROJETOS E PARCERIAS DO DPPSC</h2>
    
    <br><br>

<h3>PROJETO DE EXTENSÃO - PRÁTICAS SOCIAIS URBANAS</h3>

    <br>

    <div style="text-align: justify;">
    <pr>DESCRIÇÃO E OBJETIVO: Desenvolvimento de práticas sociais urbanas junto a grupos sociais e movimentos em região periférica da cidade de Santos, com vistas às fomentar conquistas no campo das políticas sociais e urbanas, par e passo com a afirmação da função social da universidade.</pr>
    </div>
    <br>
    <div>
    <pr>Responsável/Coordenação: Coordenação compartilhada Luzia Fátima Baierl, Sonia Regina Nozabielli, Tânia Maria Ramos de Godoi Diniz, Terezinha de Fátima Rodrigues</pr>
    </div>
    <br>
    <div>
    <pr>Outras Informações: Equipe de Psicólogos, egressos do Curso de Formação em Cuidados Integrativos (ABRACI) e egressos do curso de Psicologia (UNIFESP)</pr>
    </div>
    <br>
    <div>
    <pr>Contato: tania.diniz@unifesp.br</a></pr>
    </div>
    
<br><br>

    <p>Clique <a href="PageD1ProjetosParcerias" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
