@{
    ViewData["Title"] = "Laboratórios e Núcleos";
}

<br>
<h2>LABORATÓRIOS E NÚCLEOS DO DPPSC</h2>     
    <br><br>

<h3>NÚCLEO DE ENSINO, PESQUISA E EXTENSÃO EM SAÚDE SÓCIO-AMBIENTAL - NEPSSA</h3>
    <br>

    <div>
    <pr>Localização: sala 209 da Unidade Central - Edifício Mariangela Duarte</pr>
    </div>
    <br>
    <div>
    <pr>Responsável/Coordenação: Silvia Maria Tagé Thomaz</pr>
    </div>
    <br>
    <div>
    <pr>Tipo de Uso: GRADUAÇÃO, PÓS GRADUAÇÃO, MULTIUSUÁRIO</pr>
    </div>
    <br>
    <div>
    <pr>Objetivo: Implementar a discussão da temática da Saúde Sócio Ambiental da região, da tualidade no ambito da UNIFESP, dar suporte aos movimentos sociais da região interagindo nas possibilidades de intervenção conjunta.</pr>
    </div>
    <br>
    <div>
    <pr>Breve Descrição: Ações para fortalecimento dos movimentos sociais, pesquisa e intervenções nas demandas da saúde sócio ambiental. Articulação com serviços, públicos, ONGs e privados, locais, nacionais e internacionais. Discussão e proposições na esfera das políticas públicas.</pr>
    </div>
    <br>
    <div>
    <pr>Link para site: <a href="http://acpo.org.br/site_mercurio/blog/">http://acpo.org.br/site_mercurio/blog/</a></pr>
    </div>
    <br>
    <div>
    <pr>Contato: 13 997474000 - nepssa@saudesocioambiental.org.br </pr>
    </div>
        
    <br>

<br><br>

    <p>Clique <a href="PageC1LaboratoriosNucleos" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
    
