@{
    ViewData["Title"] = "Projetos e Parcerias";
}

<br>
<h2>PROJETOS E PARCERIAS DO DPPSC</h2>
    
    <br><br>

<h3>REDE NON CONFORMES</h3>

    <br>
    
    <div>
    <pr>PARCERIA DPPSC: Profa. Dra. Eunice Nakamura</pr>
    </div>
    <br>
    <div style="text-align: justify;">
    <pr>DESCRIÇÃO E OBJETIVO: Uma rede multidisciplinar sobre comportamentos e cuidados não conformes. Comparando práticas, conhecimentos e qualificações em saúde mental em seus contextos.</pr>
    </div>
    <br>
    <div>
    <pr>Responsável/Coordenação: Livia Velpry</pr>
    </div>
    <br>
    <div style="text-align: justify;">
    <pr>OUTRAS INFORMAÇÕES: "Não conforme” é um grupo de pesquisadores e profissionais que compartilham o interesse em comportamentos problemáticos no contexto do cuidado. Seu objetivo é fomentar reflexões multidisciplinares (sociologia, filosofia, psicologia, medicina e outras profissões relacionadas ao cuidado).</pr>
    </div>
    <br>
    <div>
    <pr>Link para site: <a href="https://pt.nonconformes.org/">https://pt.nonconformes.org/</a></pr>
    </div>
    <br>
    <div>
    <pr>Contato: e.nakamura@unifesp.br</a></pr>
    </div>
    
<br><br>

    <p>Clique <a href="PageD1ProjetosParcerias" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
