@{
    ViewData["Title"] = "Laboratórios e Núcleos";
}

<br>
<h2>LABORATÓRIOS E NÚCLEOS DO DPPSC</h2>     
    <br><br>

<h3>LABORATÓRIO INTERDISCIPLINAR CIÊNCIAS HUMANAS, SOCIAIS E SAÚDE - LICHSS</h3>
    <br>

    <div>
    <pr>Localização: Sala prevista - Edifício Docas</pr>
    </div>
    <br>
    <div>
    <pr>Responsável/Coordenação: Coordenadora: Eunice Nakamura/ Vice-Coordenadora: Cristiane Gonçalves da Silva</pr>
    </div>
    <br>
    <div>
    <pr>Tipo de Uso: GRADUAÇÃO, PÓS GRADUAÇÃO, MULTIUSUÁRIO</pr>
    </div>
    <br>
    <div>
    <pr>Objetivo: Estimular o interesse de estudantes e jovens pesquisadores pela produção científica de caráter interdisciplinar na compreensão da complexidade das experiências sociais contemporâneas.</pr>
    </div>
    <br>
    <div>
    <pr>Breve Descrição: O LICHSS agrega pesquisadores, docentes, estudantes (graduação e pós-graduação) e colaboradores, no Brasil e no exterior, em atividades de ensino, extensão e de pesquisa, da perspectiva crítica e interdisciplinar das Ciências Humanas, Sociais e Saúde, em 3 linhas de pesquisa: Infância, adolescência e juventude: educação, saúde, sociedade e cultura; Significados e práticas socioculturais: saúde, cuidados e saúde mental de crianças, adolescentes e jovens; Sexualidade, gênero e direitos humanos.</pr>
    </div>
    <br>
    <div>
    <pr>Link para site: <a href="https://www.unifesp.br/campus/san7/linhas-de-pesquisa-lichss">https://www.unifesp.br/campus/san7/linhas-de-pesquisa-lichss</a></pr>
    </div>
    <br>
    <div>
    <pr>Contato: lichss.unifesp@gmail.com</pr>
    </div>
        
    <br>

<br><br>

    <p>Clique <a href="PageC1LaboratoriosNucleos" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
