@{
    ViewData["Title"] = "Projetos e Parcerias";
}

<br>
<h2>PROJETOS E PARCERIAS DO DPPSC</h2>
    
    <br><br>

        <h3>CLICPRATO - NA DIREÇÃO DE UMA REFEIÇÃO SAUDÁVEL COM O AUXÍLIO DE INTELIGÊNCIA ARTIFICIAL</h3>

    <br>

    <div style="text-align: justify;">
    <pr>DESCRIÇÃO E OBJETIVO: O projeto tem como objetivo avaliar a qualidade da refeição da população brasileira por meio de imagens do almoço e do jantar tiradas por câmeras de celular, visando contribuir para a melhoria da alimentação e da saúde da população brasileira. O projeto une conhecimentos de nutrição e os de Inteligência Artificial, na área de aprendizado de máquina (machine learning) e de desenvolvimento de ferramentas e aplicativo.</pr>
    </div>
    <br>
    <div>
    <pr>Coordenação: Profa. Dra. Josiane Steluti</pr>
    </div>
    <br>
    <div style="text-align: justify;">
    <pr>OUTRAS INFORMAÇÕES: Outros pesquisadores envolvidos: Profa. Assoc. Dirce Maria Lobo Marchioni (FSP-USP), Prof. Assoc. Jun Okamoto Junior (Poli-USP) e Profa. Assoc. Semíramis Martins Álvares Domene (ISS-Unifesp).</pr>
    </div>
    <br>
    <div>
    <pr>Link para site: <a href="https://www.unifesp.br/noticias-anteriores/item/4474-projeto-clicprato-avalia-fotos-das-refeicoes-da-populacao-brasileira">https://www.unifesp.br/noticias-anteriores/item/4474-projeto-clicprato-avalia-fotos-das-refeicoes-da-populacao-brasileira</a></pr>
    </div>
    <br>
    <div>
    <pr>Contato: jsteluti@unifesp.br</a></pr>
    </div>
    
<br><br>

    <p>Clique <a href="PageD1ProjetosParcerias" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
