@{
    ViewData["Title"] = "Projetos e Parcerias";
}

<br>
<h2>PROJETOS E PARCERIAS DO DPPSC</h2>
    
    <br><br>

<h3>NÚCLEO DE MEDICINA E PRÁTICAS INTEGRATIVAS</h3>
  
    <br>

    <div>
    <pr>PARCERIA DPPSC: Prof. Dr. Fernando de Almeida Silveira (Conselheiro do NUMEPI)</pr>
    </div>
    <br>
    <div style="text-align: justify;">
    <pr>DESCRIÇÃO E OBJETIVO: O NUMEPI é núcleos associado da Pró-reitoria de Extensão e Cultura, e agrega núcleos, centros, ambulatórios e/ou grupos de discentes, docentes, funcionários técnico-administrativos, colaboradores autorizados e ou voluntários de Campi da UNIFESP e funcionários da SPDM – Hospital São Paulo por meio das temáticas: Práticas Integrativas e Complementares, Medicina Integrativa, Medicina Alternativa e ou Complementar, Saúde Integrativa, Cuidados Integrativos, Promoção de Saúde e Saúde Coletiva.</pr>
    </div>
    <br>
    <div>
    <pr>Responsável/Coordenação: Sissy Veloso (Medicina)</pr>
    </div>
    <br>
    <div>
    <pr>Link para site: <a href="https://www.unifesp.br/reitoria/proec/numepi">https://www.unifesp.br/reitoria/proec/numepi</a></pr>
    </div>
    <br>
    <div>
    <pr>Contato: <a href="https://numepi.unifesp.br/contato">https://numepi.unifesp.br/contato</a></pr>
    </div>
        
<br><br>

    <p>Clique <a href="PageD1ProjetosParcerias" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
