@{
    ViewData["Title"] = "Corpo Docente";
}

<br>

            
        <h2>CORPO DOCENTE - MEMBROS DO DEPARTAMENTO</h2>
    

<br>
<div style="text-align: center;">
       
       
<div>
  <a href="/Home/ProfCarine" class="buttonL">CARINE SAVALLI REDIGOLO</a>
</div>
<div>
  <a href="/Home/ProfCarlosRoberto" class="buttonL">CARLOS ROBERTO DE CASTRO E SILVA</a>
</div>
<div>
  <a href="/Home/ProfCristiane" class="buttonL">CRISTIANE GONÇALVES DA SILVA</a>
</div>
<div>
  <a href="/Home/ProfFernando" class="buttonL">FERNANDO DE ALMEIDA SILVEIRA</a>
</div>
<div>
  <a href="/Home/ProfGisele" class="buttonL">GISELE APARECIDA BOVOLENTA</a>
</div>
<div>
  <a href="/Home/ProfJaqueline" class="buttonL">JAQUELINE KALMUS</a>
</div>
<div>
  <a href="/Home/ProfJosiane" class="buttonL">JOSIANE STELUTI</a>
</div>
<div>
  <a href="/Home/ProfJuarez" class="buttonL">JUAREZ PEREIRA FURTADO</a>
</div>
<div>
  <a href="/Home/ProfLia" class="buttonL">LIA THIEME OIKAWA ZANGIROLANI</a>
</div>
<div>
  <a href="/Home/ProfLuciana" class="buttonL">LUCIANA TOGNI DE LIMA E SILVA SURJUS</a>
</div>
<div>
  <a href="/Home/ProfLuizHenrique" class="buttonL">LUIZ HENRIQUE PASSADOR</a>
</div>
<div>
  <a href="/Home/ProfMacarena" class="buttonL">MACARENA URRESTARAZU DEVINCENZI</a>
</div>
<div>
  <a href="/Home/ProfMariaFernanda" class="buttonL">MARIA FERNANDA PETROLI FRUTUOSO</a>
</div>
<div>
  <a href="/Home/ProfRosiran" class="buttonL">ROSIRAN CARVALHO DE FREITAS MONTENEGRO</a>
</div>
<div>
  <a href="/Home/ProfSemiramis" class="buttonL">SEMIRAMIS MARTINS ALVARES DOMENE</a>
</div>
<div>
  <a href="/Home/ProfTania" class="buttonL">TANIA MARIA RAMOS DE GODOI DINIZ</a>
</div>
 </div>
    <br><br>

    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
    
