@{
    ViewData["Title"] = "Laboratórios e Núcleos";
}

<br>
    <h2>LABORATÓRIOS E NÚCLEOS DO DPPSC</h2>
     
    <br><br>

    <div class="row">
        <div class="col-5">
    <div><a href="PageCLabDietetica" class="button1">LABORATÓRIO DE DIETÉTICA EXPERIMENTAL </a></div>
    <div><a href="PageCLeca" class="button1">LABORATÓRIO DE ETOLOGIA CANINA - LECA </a></div>
    <div><a href="PageCNpps" class="button1">NÚCLEO DE POLÍTICAS PÚBLICAS SOCIAIS - NPPS </a></div>
    <div><a href="PageCNeab" class="button1">NÚCLEO DE ESTUDOS AFROBRASILEIROS - NEAB </a></div>
        </div>
        <div class="col-7">
    <div><a href="PageCLichss" class="button1">LABORATÓRIO INTERDISCIPLINAR CIÊNCIAS HUMANAS, SOCIAIS E SAÚDE - LICHSS </a></div>
    <div><a href="PageCNepssa" class="button1">NÚCLEO DE ENSINO, PESQUISA E EXTENSÃO EM SAÚDE SÓCIO-AMBIENTAL - NEPSSA</a></div>
    <div><a href="/Home/PageCLepets" class="button1">LABORATÓRIO DE ESTUDOS E PESQUISAS EM FORMAÇÃO E TRABALHO EM SAÚDE - LEPETS </a></div>
        </div>
    </div>


<br><br>

    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
    