@{
    ViewData["Title"] = "Laboratórios e Núcleos";
}

<br>
<h2>LABORATÓRIOS E NÚCLEOS DO DPPSC</h2>     
    <br><br>


<h3>LABORATÓRIOS DE ESTUDOS E PESQUISAS EM FORMAÇÃO E TRABALHO EM SAÚDE - LEPETS</h3>
    <br>

    <div>
    <pr>Localização: Unifesp - Centro Histórico - Quinto Andar</pr>
    </div>
    <br>
    <div>
    <pr>Responsável/Coordenação: Alexandre Henz</pr>
    </div>
    <br>
    <div>
    <pr>Tipo de Uso: GRADUAÇÃO, PÓS GRADUAÇÃO, MULTIUSUÁRIO</pr>
    </div>
    <br>
    <div>
    <pr>Objetivo: Desenvolve estudos e pesquisas no campo da formação de profissionais e do trabalho em saúde. Seu escopo abrange as concepções e práticas envolvidas na produção do cuidado individual e coletivo em suas dimensões ética, política, clínica e de gestão.</pr>
    </div>
    <br>
    <div>
    <pr>Breve Descrição: Pretende investigar: os embates e as linhas de força que configuram as práticas e as formações profissionais em saúde na contemporaneidade; questões relacionadas às redes sociais nos territórios; a integração ensino-serviço, as práticas pedagógicas e os processos de educação permanente; a prática integrada e a clínica comum dos profissionais e intervenções relacionadas ao processo saúde-doença-cuidado.</pr>
    </div>
    <br>
    <div>
    <pr>Contato: fernando.silveira@unifesp.br</pr>
    </div>
        
    <br>

<br><br>

    <p>Clique <a href="PageC1LaboratoriosNucleos" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
    
