@{
    ViewData["Title"] = "Notícias e Artigos";
}

<br>

<h2>NOTÍCIAS E ARTIGOS - O QUE ACONTECE NO DPPSC</h2>
    
    <br><br>

    <div><a href="PageEEventoTrabalhoTerritorioESaude">EVENTO TRABALHO, TERRITÓRIO E SAÚDE </a></div>
    <br>
    <div><a href="PageENutricaoConsciencia">NUTRIÇÃO CONS[CIÊNCIA]: CICLO DE PALESTRAS 2023</a></div>
    <br>
    <div><a href="PageECineDebate">CINE-DEBATE: O ARMÁRIO NÃO É NOSSO LUGAR</a></div>
    <br>
    <div><a href="PageEReportagemPopSitRua">DOCENTES DA UNIFESP FALAM EM REPORTAGEM SOBRE O CUIDADO NA SAÚDE DA POPULAÇÃO EM SITUAÇÃO DE RUA NA BAIXADA SANTISTA</a></div>
    <br>

    <br><br>

    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
    
