@{
    ViewData["Title"] = "Projetos e Parcerias";
}

<br>
<h2>PROJETOS E PARCERIAS DO DPPSC</h2>
    
    <br><br>

 <h3>OBSERVATÓRIO DE SAÚDE SÓCIO AMBIENTAL</h3>

    <br>
    
    <div style="text-align: justify;">
    <pr>DESCRIÇÃO E OBJETIVO: Conhecer as demandas da saúde sócio ambiental da região e contribuir para discussão e encaminhamento de solução dessas demandas a partir de articulações com movimentos sociais da região.</pr>
    </div>
    <br>
    <div>
    <pr>Responsável/Coordenação: Silvia Maria Tagé Thomaz</pr>
    </div>
    <br>
    <div>
    <pr>Contato: 13 99747-4000</a></pr>
    </div>
        
<br><br>

    <p>Clique <a href="PageD1ProjetosParcerias" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
