@{
    ViewData["Title"] = "Laboratórios e Núcleos";
}

<br>
            <h2>LABORATÓRIOS E NÚCLEOS DO DPPSC</h2>

     
    <br><br>


<h3>LABORATÓRIO DE DIETÉTICA EXPERIMENTAL</h3>
    <br>

    <div>
    <pr>Localização: Unidade Central - Mariângela Duarte - Sala 308</pr>
    </div>
    <br>
    <div>
    <pr>Responsável/Coordenação: Semíramis M. A. Domene</pr>
    </div>
    <br>
    <div>
    <pr>Tipo de Uso: GRADUAÇÃO, PÓS GRADUAÇÃO, MULTIUSUÁRIO</pr>
    </div>
    <br>
    <div>
    <pr>Objetivo: Estudos no campo da Dietética.</pr>
    </div>
    <br>
    <div>
    <pr>Breve Descrição: O Laboratório de Dietética Experimental é uma instalação de apoio à condução de experimentos com alimentos no campo da Dietética, especialmente técnicas culinárias, estudo de ingredientes, e consumo alimentar. No campo da Extensão, o LaDEx coordena dois projetos: o Projeto Panela Aberta, que tem como objetivo central a divulgação das diretrizes do Guia Alimentar para a População Brasileira; coordena também o e o SIG - Dietética, que congrega colegas do campo da Dietética de todo o país.</pr>
    </div>
    <br>
    <div>
    <pr>Link para site: <a href="https://panelaaberta.unifesp.br/">https://panelaaberta.unifesp.br/</a></pr>
    </div>
    <br>
    <div>
    <pr>Contato: semiramis.domene@unifesp.br</pr>
    </div>
        
    <br>

<br><br>

    <p>Clique <a href="PageC1LaboratoriosNucleos" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
    
