@{
    ViewData["Title"] = "Notícias e Artigos";
}

<br>

<h2>NOTÍCIAS E ARTIGOS - O QUE ACONTECE NO DPPSC</h2>
    
    <br><br>

<h3>Docentes da Unifesp falam em reportagem sobre o cuidado na saúde da população em situação de rua na Baixada Santista</h3>

    
    <br>
    <div style="text-align: justify;">
        <pr>Docentes do Programa de Educação para Trabalho para Saúde - PET-Saúde Gestão e Assistência, do Campus Baixada Santista da Universidade Federal de São Paulo (Unifesp) falam em reportagem para o Programa Balanço Geral da Tv Record sobre o cuidado na saúde e motivos que levam à situação de rua, que teve aumento de até 60%, no verão, na Baixada Santista, agravada pela pandemia de Covid-19.
        </pr>
    </div>
        <br>
    <div style="text-align: justify;">    
        <pr>Rosangela Chriguer, Fernando Kinker e Silvia Tagé, que comentam na matéria, integram o PET-Saúde com mais 35 participntes entre discentes docentes e preceptors dos municípios de Santos e São Vicente qual tem como objetivo participar na formação em saúde de estudantes e preceptores no trabalho para o SUS.
        A reportagem foi ao ar no dia 30/03/2023. Confira o vídeo no link: <a href="https://recordtv.r7.com/record-tv-litoral-e-vale/balanco-geral-litoral/videos/populacao-em-situacao-de-rua-cresce-na-baixada-santista-30032023">https://recordtv.r7.com/record-tv-litoral-e-vale/balanco-geral-litoral/videos/populacao-em-situacao-de-rua-cresce-na-baixada-santista-30032023</a>.
        </pr>
    </div>
    
<br><br>

    <p>Clique <a href="PageE1NoticiasArtigos" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
