@{
    ViewData["Title"] = "Projetos e Parcerias";
}

<br>

<h2>PROJETOS E PARCERIAS DO DPPSC</h2>
    
    <br><br>

<h3>FORTALECENDO REDES TERRITORIAIS DE CUIDADO NO ENFRENTAMENTO À COVID-19 NA BAIXADA SANTISTA</h3>

    <br>

    <div style="text-align: justify;">
    <pr>PARCERIA DPPSC: Prof. Dr. Fernando de Almeida Silveira (Membro do Projeto: "Fortalecendo redes territoriais de cuidado no enfrentamento à COVID-19 na Baixada Santista")</pr>
    </div>
    <br>
    <div style="text-align: justify;">
    <pr>DESCRIÇÃO E OBJETIVO: O Projeto de Extensão Fortalecendo redes territoriais de cuidado no enfrentamento à COVID-19 na Baixada Santista, construído pela UNIFESP Baixada Santista em parceria com trabalhadoras/es das redes de saúde e assistência social, busca provocar interferência neste cenário na Baixada Santista, construindo estratégias de apoio às redes formais e informais nos territórios; e pela construção de mapa colaborativo das redes e ações de solidariedade ativa e redes assistenciais na Baixada Santista.</pr>
    </div>
    <br>
    <div>
    <pr>Responsável/Coordenação: Lia Oikawa e Simone Ramalho</pr>
    </div>
    <br>
    <div>
    <pr>Link para site:<a href="https://www.unifesp.br/campus/san7/todos-informes/2222-projeto-fortalecendo-redes">https://www.unifesp.br/campus/san7/todos-informes/2222-projeto-fortalecendo-redes</a></pr>
    </div>
    <br>
    <div>
    <pr>Contato: fortalecendoredes@gmail.com</a></pr>
    </div>
        

<br><br>

    <p>Clique <a href="PageD1ProjetosParcerias" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
