@{
    ViewData["Title"] = "Notícias e Artigos";
}

<br>

<h2>NOTÍCIAS E ARTIGOS - O QUE ACONTECE NO DPPSC</h2>
    
    <br><br>

<h3>NUTRIÇÃO CONS[CIÊNCIA]: CICLO DE PALESTRAS 2023</h3>


    <br>
    <div class="text-center">
    <img src="~/img/Divulgação_Nutrição_Consciência_-_Semiramis.png" weight="400" height="800">
    </div>
    
<br><br>

    <p>Clique <a href="PageE1NoticiasArtigos" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
