@{
    ViewData["Title"] = "Projetos e Parcerias";
}

<br>
<h2>PROJETOS E PARCERIAS DO DPPSC</h2>
    
    <br>

    <div><a href="PageDPraticasSociaisUrbanas" class="button1">PROJETO DE EXTENSÃO PRÁTICAS SOCIAIS URBANAS</a></div>
    <div><a href="PageDNucleoTrans" class="button1">NÚCLEO TRANS UNIFESP </a></div>
    <div><a href="PageDNumepi" class="button1">NÚCLEO DE MEDICINA E PRÁTICAS INTEGRATIVAS - NUMEPI </a></div>
    <div><a href="PageDRedeNonConformes" class="button1">REDE NON CONFORMES</a></div>
    <div><a href="PageDObservatorioSaudeSocioAmbiental" class="button1">OBSERVATÓRIO DE SAÚDE SÓCIO AMBIENTAL</a></div>
    <div><a href="PageDSaudePelaTerra" class="button1">SAÚDE PELA TERRA</a></div>
    <div><a href="PageDFortalecendoRedes" class="button1">FORTALECENDO REDES TERRITORIAIS DE CUIDADO NO ENFRENTAMENTO À COVID-19 NA BAIXADA SANTISTA</a></div>
    <div><a href="PageDClicPrato" class="button1">CLICPRATO - NA DIREÇÃO DE UMA REFEIÇÃO SAUDÁVEL COM O AUXÍLIO DE INTELIGÊNCIA ARTIFICIAL</a></div>
    <div><a href="PageDEscutaHumanizada" class="button1">ESCUTA HUMANIZADA - CUIDADOS INTEGRATIVOS PARA PROFISSIONAIS DA SAÚDE, DA EDUCAÇÃO E DO ADMINISTRATIVO EM TEMPOS DE PANDEMIA</a></div>

    <br><br>

    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
