@{
    ViewData["Title"] = "Projetos e Parcerias";
}

<br>

<h2>PROJETOS E PARCERIAS DO DPPSC</h2>
    
    <br><br>

<h3>NÚCLEO TRANS - UNIFESP</h3>

    <br>

    <div>
    <pr>PARCERIA DPPSC: Prof. Dr. Fernando de Almeida Silveira (Conselheiro e Coordenador Acadêmico do Núcleo Trans – UNIFESP)</pr>
    </div>
    <br>
    <div style="text-align: justify;">
    <pr>DESCRIÇÃO E OBJETIVO: O Núcleo TransUnifesp, ligado à Coordenadoria de Direitos Humanos da Pró-Reitoria de Extensão e Cultura da Universidade Federal de São Paulo e, na assistência, vinculado ao Hospital São Paulo, atua fortalecendo a comunidade nos âmbitos acadêmico, científico, político e social, no sentido de promover o bem-estar da população de travestis, mulheres transexuais, homens trans, de gênero não-binário, e Intersexo.</pr>
    </div>
    <br>
    <div>
    <pr>Responsável/Coordenação: Renata Azevedo (Fonoaudiologia - UNIFESP) e Renan Quinalha (Direito - UNIFESP)</pr>
    </div>
    <br>
    <div>
    <pr>Link para site: <a href="https://nucleotrans.unifesp.br/">https://nucleotrans.unifesp.br/</a></pr>
    </div>
    <br>
    <div>
    <pr>Contato: <a href="https://nucleotrans.unifesp.br/fale-conosco">https://nucleotrans.unifesp.br/fale-conosco</a></pr>
    </div>
        
<br><br>

    <p>Clique <a href="PageD1ProjetosParcerias" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
