@{
    ViewData["Title"] = "Projetos e Parcerias";
}

<br>

<h2>PROJETOS E PARCERIAS DO DPPSC</h2>
    
    <br><br>

        <h3>ESCUTA HUMANIZADA - CUIDADOS INTEGRATIVOS PARA PROFISSIONAIS DE SAÚDE, DA EDUCAÇÃO E DO ADMINISTRATIVO EM TEMPOS DE PANDEMIA</h3>

    <br>

    <div style="text-align: justify;">
    <pr>DESCRIÇÃO E OBJETIVO: Escuta Online e Presencial dos Profissionais de ponta da pandemia do Hospital São Paulo, do Departamento de Saúde do Trabalhador e do NASF da UNIFESP.</pr>
    </div>
    <br>
    <div>
    <pr>Responsável/Coordenação: Fernando de Almeida Silveira (Psicologia), Sissy Veloso (Medicina) e Acary Souza (Medicina)</pr>
    </div>
    <br>
    <div style="text-align: justify;">
    <pr>OUTRAS INFORMAÇÕES: Equipe de Psicólogos, egressos do Curso de Formação em Cuidados Integrativos (ABRACI) e egressos do curso de Psicologia (UNIFESP)</pr>
    </div>
    <br>
    <div>
    <pr>Contato: fernando.silveira@unifesp.br / escutaabraci@gmail.com</pr>
    </div>  
    
<br><br>

    <p>Clique <a href="PageD1ProjetosParcerias" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
