@{
    ViewData["Title"] = "Política de Privacidade";
}

<br>

        <h3>POLÍTICA DE PRIVACIDADE</h3>

<br>

<p>Conheça as regras de nossa política de privacidade, enunciadas a seguir:</p>

<p style="text-align: justify;">
1. Os administradores do portal que têm acesso a dados restritos estão terminantemente proibidos de divulgá-los em ambientes externos, sob qualquer justificativa.
</p>
<p style="text-align: justify;">
2. O portal do Departamento de Políticas Públicas e Saúde Coletiva não repassará nenhuma informação cedida pelo usuário a terceiros, inclusive em negociações comerciais.
</p>
<p style="text-align: justify;">
3. Toda e qualquer informação sobre o usuário somente será repassada mediante sua concordância por escrito ou ordem judicial.
</p>
<p style="text-align: justify;">
4. Caso o usuário não autorize, não serão enviadas mensagens à sua caixa de e-mails nem tampouco será repassado seu endereço eletrônico a terceiros.
</p>
<p style="text-align: justify;">
5. Os dados relativos ao usuário e à navegação por ele efetuada no site – tais como endereços de IP, cookies e páginas acessadas – serão armazenados em bancos de dados próprios e reservados.
</p>
<p style="text-align: justify;">
6. Para esclarecimento de dúvidas, o usuário deverá entrar em contato com a equipe responsável pelo portal por meio do seguinte endereço: portaldppsc@unifesp.br.</p>

<br>

    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
