@{
    ViewData["Title"] = "Corpo Docente";
}

<br>

<h2>CORPO DOCENTE - MEMBROS DO DEPARTAMENTO</h2>

<br><br>


<h3>LUCIANA TOGNI DE LIMA E SILVA SURJUS</h3>

    <br>

    <img src="~/img/FOTO LUCIANA TOGNI DE LIMA E SILVA SURJUS.jpg" weight="100" height="200">
    
    <br><br>

    <div>
    <pr>GRADUAÇÃO: Terapia Ocupacional</pr>
    </div>

    <div>
    <pr>MESTRADO: Saúde Coletiva na Unicamp</pr>
    </div>

    <div>
    <pr>DOUTORADO: Saúde Coletiva na Unicamp</pr>
    </div>
        
    <br>
    
    <div>
    <pr>GRUPO DE PESQUISA: DiV3rso: Saúde Mental, Redução de Danos e Direitos Humanos</pr>    
    </div>

    <div>
    <pr>Educação em Saúde na Sociedade - Programa de Mestrado Ensino em Ciências da Saúde. Modalidade Profissional. Unifesp Baixada Santista.</pr>    
    </div>

    <br>

    <div>
    <pr>E-MAIL: luciana.surjus@unifesp.br</pr>
    </div>

    <div>
    <pr>Currículo LATTES: <a href="http://lattes.cnpq.br/8786999221233177">http://lattes.cnpq.br/8786999221233177</a></pr>
    </div>

    <br><br>

    <p>Clique <a href="PageBCorpoDocente" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
