@{
    ViewData["Title"] = "Corpo Docente";
}

<br>

<h2>CORPO DOCENTE - MEMBROS DO DEPARTAMENTO</h2>

<br><br>


<h3>SEMIRAMIS MARTINS ALVARES DOMENE</h3>

    <br>

    <img src="~/img/FOTO SEMIRAMIS MARTINS ALVARES DOMENE.png" weight="100" height="200">
    
    <br><br>

    <div>
    <pr>GRADUAÇÃO: Nutrição - Pontifícia Universidade Católica de Campinas - PUC-Campinas</pr>
    </div>

    <div>
    <pr>MESTRADO: Ciência da Nutrição - Universidade Estadual de Campinas - UNICAMP</pr>
    </div>

    <div>
    <pr>DOUTORADO: Ciência da Nutrição - Universidade Estadual de Campinas - UNICAMP</pr>
    </div>

    <div>
    <pr>PÓS-DOUTORADO: Nutrição - Universidade Federal de São Paulo - UNIFESP</pr>
    </div>
        
    <br>
    
    <div>
    <pr>GRUPO DE PESQUISA: 1. Dietética (Unifesp); 2. Nutrição e Pobreza (IEA/USP)</pr>    
    </div>

    <div>
    <pr>LINHA DE PESQUISA: Ciência de Alimentos e Saúde.</pr>    
    </div>

    <br>

    <div>
    <pr>E-MAIL: semiramis.domene@unifesp.br</pr>
    </div>

    <div>
    <pr>Currículo LATTES: <a href="http://lattes.cnpq.br/7373562130327980">http://lattes.cnpq.br/7373562130327980</a></pr>
    </div>

    <br><br>

    <p>Clique <a href="PageBCorpoDocente" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
