@{
    ViewData["Title"] = "Corpo Docente";
}

<br>

<h2>CORPO DOCENTE - MEMBROS DO DEPARTAMENTO</h2>

<br><br>


<h3>JOSIANE STELUTI</h3>

    <br>

    <img src="~/img/FOTO JOSIANE STELUTI.jpg" weight="100" height="200">
    
    <br><br>

    <div>
    <pr>GRADUAÇÃO: Nutrição - Faculdade de Saúde Pública da Universidade de São Paulo.</pr>
    </div>

    <div>
    <pr>MESTRADO: Mestrado em Ciências pelo Programa de Pós-Graduação, Nutrição em Saúde Pública da Faculdade de Saúde Pública da Universidade de São Paulo.</pr>
    </div>

    <div>
    <pr>DOUTORADO: Doutorado em Ciências pelo Programa de Pós-Graduação, Nutrição em Saúde Pública da Faculdade de Saúde Pública da Universidade de São Paulo</pr>
    </div>
    
    <div>
    <pr>PÓS-DOUTORADO: Pós-doutorado pelo Departamento de Nutrição da Faculdade de Saúde Pública da Universidade de São Paulo e pelo Instituto Saúde e Sociedade da UNIFESP</pr>
    </div>
    
    <br>
    
    <div>
    <pr>LINHA DE PESQUISA: Estratégias interdisciplinares em promoção, prevenção e reabilitação em saúde; Epidemiologia Nutricional, Políticas Públicas, Segurança dos Alimentos e Alimentar; Avaliação do estado nutricional, do consumo alimentar e do risco para doenças crônicas não-transmissíveis; Técnicas e métodos diagnósticos na avaliação nutricional e alimentar de indivíduos e populações.</pr>    
    </div>

    <br>

    <div>
    <pr>E-MAIL: jsteluti@unifesp.br</pr>
    </div>

    <div>
    <pr>Currículo LATTES: <a href="http://lattes.cnpq.br/7274726142793366">http://lattes.cnpq.br/7274726142793366</a></pr>
    </div>

    <br><br>

    <p>Clique <a href="PageBCorpoDocente" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
