@{
    ViewData["Title"] = "Corpo Docente";
}

<br>

<h2>CORPO DOCENTE - MEMBROS DO DEPARTAMENTO</h2>

<br><br>


<h3>CARINE SAVALLI REDIGOLO</h3>

    <br>
    
    <img src="~/img/FOTO Carine Savalli Redigolo.png" weight="100" height="200">
    
    <br><br>

    <div>
    <pr>GRADUAÇÃO: Bacharelado em Estatística</pr>
    </div>

    <div>
    <pr>MESTRADO:  Estatística e Psicologia/Etologia</pr>
    </div>

    <div>
    <pr>DOUTORADO: Estatística e Psicologia/Etologia</pr>
    </div>
    
    <br>
    
    <div>
    <pr>GRUPO DE PESQUISA: LECA - Laboratório de Etologia Canina</pr>    
    </div>

    <div>
    <pr>LINHA DE PESQUISA: Etologia Canina (Relação ser humano-cão)</pr>    
    </div>

    <br>

    <div>
    <pr>E-MAIL: carine.savalli@unifesp.br</pr>
    </div>

    <div>
    <pr>Currículo LATTES: <a href="http://lattes.cnpq.br/3503386422176251">http://lattes.cnpq.br/3503386422176251</a></pr>
    </div>

<br><br>

    <p>Clique <a href="PageBCorpoDocente" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
