@{
    ViewData["Title"] = "Corpo Docente";
}

<br>

<h2>CORPO DOCENTE - MEMBROS DO DEPARTAMENTO</h2>

<br><br>

<h3>FERNANDO DE ALMEIDA SILVEIRA</h3>

    <br>

    <img src="~/img/FOTO FERNANDO DE ALMEIDA SILVEIRA.jpg" weight="100" height="200">
    
    <br><br>

    <div>
    <pr>GRADUAÇÃO: Direito (USP) e Psicologia (USP)</pr>
    </div>

    <div>
    <pr>MESTRADO: Psicologia (USP)</pr>
    </div>

    <div>
    <pr>DOUTORADO: Psicologia (USP)</pr>
    </div>
    
    <div>
    <pr>PÓS-DOUTORADO: Primeiro - Filosofia (USP) e Segundo - Filosofia - (Université Paris-8) - aceito</pr>
    </div>
    
    <br>
    
    <div>
    <pr>GRUPO DE PESQUISA: Laboratório de Estudos e Pesquisas em Formação e Trabalho em Saúde Lepets</pr>    
    </div>

    <div>
    <pr>LINHA DE PESQUISA: Tem experiência na área de Psicologia, Filosofia e Ciências da Saúde e Sexualidade, com ênfase em Epistemologia das Ciências Humanas e da Saúde, atuando sobre os temas: subjetivação, Foucault, Merleau-Ponty, corpo, alma, psicologia, fenomenologia, formação permanente em saúde mental e saúde coletiva, escuta psicológica, cuidados integrativos e vulnerabilidade sexual e social. Coordenador Acadêmico do Núcleo-Trans UNIFESP. Coordenador da Escuta Humanizada do Hospital São Paulo-SPDM-UNIFESP.</pr>    
    </div>

    <br>

    <div>
    <pr>E-MAIL: fernando.silveira@unifesp.br</pr>
    </div>

    <div>
    <pr>Currículo LATTES: <a href="https://bv.fapesp.br/pt/pesquisador/17690/fernando-de-almeida-silveira/">https://bv.fapesp.br/pt/pesquisador/17690/fernando-de-almeida-silveira/</a></pr>
    </div>

    <br><br>

    <p>Clique <a href="PageBCorpoDocente" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
