@{
    ViewData["Title"] = "Corpo Docente";
}

<br>

<h2>CORPO DOCENTE - MEMBROS DO DEPARTAMENTO</h2>

<br><br>

<h3>LUIZ HENRIQUE PASSADOR</h3>

    <br>

    <img src="~/img//FOTO LUIZ HENRIQUE PASSADOR.jpg" weight="100" height="200">
    
    <br><br>

    <div>
    <pr>GRADUAÇÃO: Ciências Sociais (Unicamp)</pr>
    </div>

    <div>
    <pr>MESTRADO: Antropologia Social (Unicamp)</pr>
    </div>

    <div>
    <pr>DOUTORADO: Antropologia Social (Unicamp)</pr>
    </div>
        
    <br>
    
    <div>
    <pr>GRUPO DE PESQUISA: DiV3rso: Saúde Mental, Redução de Danos e Direitos Humanos</pr>    
    </div>

    <div>
    <pr>LINHA DE PESQUISA: DiV3rso: Saúde Mental, Redução de Danos e Direitos Humanos</pr>    
    </div>

    <br>

    <div>
    <pr>E-MAIL: passador@unifesp.br</pr>
    </div>

    <div>
    <pr>Currículo LATTES: <a href="http://lattes.cnpq.br/5185575837014377">http://lattes.cnpq.br/5185575837014377</a></pr>
    </div>

    <br><br>

    <p>Clique <a href="PageBCorpoDocente" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
