@{
    ViewData["Title"] = "Corpo Docente";
}

<br>

<h2>CORPO DOCENTE - MEMBROS DO DEPARTAMENTO</h2>

<br><br>


<h3>CRISTIANE GONÇALVES DA SILVA</h3>

    <br>

    <img src="~/img/FOTO CRISTIANE GONCALVES DA SILVA.jpeg" weight="100" height="200">
    
    <br><br>

    <div>
    <pr>GRADUAÇÃO: Ciências Sociais</pr>
    </div>

    <div>
    <pr>MESTRADO: Ciências Sociais</pr>
    </div>

    <div>
    <pr>DOUTORADO: Psicologia Social</pr>
    </div>

    <div>
    <pr>PÓS-DOUTORADO: Antropologia</pr>
    </div>
        
    <br>
    
    <div>
    <pr>GRUPO DE PESQUISA: Laboratório Interdisciplinar de Ciências Humanas, Sociais e Saúde</pr>    
    </div>

    <div>
    <pr>LINHA DE PESQUISA: Gênero, Sexualidade, Juventudes</pr>    
    </div>

    <br>

    <div>
    <pr>E-MAIL: cristiane.goncalves18@unifesp.br</pr>
    </div>

    <div>
    <pr>Currículo LATTES: <a href="http://lattes.cnpq.br/0245338799993359">http://lattes.cnpq.br/0245338799993359</a></pr>
    </div>

    <br><br>


    <p>Clique <a href="PageBCorpoDocente" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
