@{
    ViewData["Title"] = "Corpo Docente";
}

<br>

<h2>CORPO DOCENTE - MEMBROS DO DEPARTAMENTO</h2>

<br><br>

<h3>CARLOS ROBERTO DE CASTRO E SILVA</h3>

    <br>

    <img src="~/img/FOTO CARLOS ROBERTO DE CASTRO E SILVA.jpg" weight="100" height="200">
    
    <br><br>

    <div>
    <pr>GRADUAÇÃO: Psicologia PUC/SP e Filosofia USP</pr>
    </div>

    <div>
    <pr>MESTRADO: Psicologia Social -PUC/SP</pr>
    </div>

    <div>
    <pr>DOUTORADO: Psicologia Social Instituto de Psicologia- USP</pr>
    </div>
    
    <div>
    <pr>PÓS-DOUTORADO: University Western of Ontario - Canadá</pr>
    </div>
    
    <br>
    
    <div>
    <pr>GRUPO DE PESQUISA: Laboratório de Estudos sobre a Desigualdade Social-LEDS</pr>    
    </div>

    <div>
    <pr>LINHA DE PESQUISA: Ciências sociais e Humanas em Saúde</pr>    
    </div>

    <br>

    <div>
    <pr>E-MAIL: roberto.castro@unifesp.br</pr>
    </div>

    <div>
    <pr>Currículo LATTES: <a href="https://lattes.cnpq.br/0357820757162104">https://lattes.cnpq.br/0357820757162104</a></pr>
    </div>

    <br><br>


    <p>Clique <a href="PageBCorpoDocente" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>