@{
    ViewData["Title"] = "Corpo Docente";
}

<br>

<h2>CORPO DOCENTE - MEMBROS DO DEPARTAMENTO</h2>

<br><br>


<h3>GISELE APARECIDA BOVOLENTA</h3>

    <br>

    <img src="~/img/FOTO GISELE A BOVOLENTA.jpg" weight="100" height="200">
    
    <br><br>

    <div>
    <pr>GRADUAÇÃO: Serviço Social</pr>
    </div>

    <div>
    <pr>MESTRADO: Serviço Social</pr>
    </div>

    <div>
    <pr>DOUTORADO: Serviço Social</pr>
    </div>
    
    <br>
    
    <div>
    <pr>GRUPO DE PESQUISA: Núcleo de Políticas Públicas Sociais - http://dgp.cnpq.br/dgp/espelhorh/4488256741200083</pr>    
    </div>

    <div>
    <pr>LINHA DE PESQUISA: Política Social; Políticas de Proteção Social; Seguridade Social; Serviço Social</pr>    
    </div>

    <br>

    <div>
    <pr>E-MAIL: gisele.bovolenta@unifesp.br</pr>
    </div>

    <div>
    <pr>Currículo LATTES: <a href="http://lattes.cnpq.br/4488256741200083">http://lattes.cnpq.br/4488256741200083</a></pr>
    </div>

    <br><br>

<br><br>

    <p>Clique <a href="PageBCorpoDocente" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
