@{
    ViewData["Title"] = "Corpo Docente";
}

<br>

<h2>CORPO DOCENTE - MEMBROS DO DEPARTAMENTO</h2>

<br><br>


<h3>JUAREZ PEREIRA FURTADO</h3>

    <br>

    <img src="~/img/FOTO JUAREZ P. FURTADO.jpg" weight="100" height="200">
    
    <br><br>

    <div>
    <pr>GRADUAÇÃO: Fisioterapia</pr>
    </div>

    <div>
    <pr>MESTRADO: Educação Motora</pr>
    </div>

    <div>
    <pr>DOUTORADO: Saúde Coletiva</pr>
    </div>
    
    <div>
    <pr>PÓS-DOUTORADO: Avaliação em Saúde</pr>
    </div>
    
    <br>
    
    <div>
    <pr>GRUPO DE PESQUISA: Laboratório de Estudos e avaliação em Saúde</pr>    
    </div>

    <div>
    <pr>LINHA DE PESQUISA: Avaliação em saúde</pr>    
    </div>

    <br>

    <div>
    <pr>E-MAIL: juarezpfurtado@gmail.com</pr>
    </div>

    <div>
    <pr>Currículo LATTES: <a href="http://lattes.cnpq.br/6869345414404363">http://lattes.cnpq.br/6869345414404363</a></pr>
    </div>

    <br><br>

    <p>Clique <a href="PageBCorpoDocente" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
