@{
    ViewData["Title"] = "Corpo Docente";
}

<br>

<h2>CORPO DOCENTE - MEMBROS DO DEPARTAMENTO</h2>

<br><br>


<h3>MARIA FERNANDA PETROLI FRUTUOSO</h3>

    <br>

    <img src="~/img/FOTO MARIA FERNANDA FRUTUOSO.jpg" weight="100" height="200">
    
    <br><br>

    <div>
    <pr>GRADUAÇÃO: Nutrição - Universidade de São Paulo - USP</pr>
    </div>

    <div>
    <pr>MESTRADO: Saúde Pública - Universidade de São Paulo - USP</pr>
    </div>

    <div>
    <pr>DOUTORADO: Saúde Pública - Universidade de São Paulo - USP</pr>
    </div>
          
    <br>
    
    <div>
    <pr>GRUPO DE PESQUISA: Núcleo de Estudos e Pesquisas em Nutrição Social - NENUS e Laboratório de Estudos e Pesquisas em Formação e Trabalho em Saúde - LEPETS</pr>    
    </div>

    <div>
    <pr>LINHA DE PESQUISA: Fome e direito humano à alimentação adequada, formação e trabalho em saúde, educação permanente, metodologias participativas</pr>    
    </div>

    <br>

    <div>
    <pr>E-MAIL: fernanda.frutuoso@unifesp.br</pr>
    </div>

    <div>
    <pr>Currículo LATTES: <a href="http://lattes.cnpq.br/4750299902344077>">http://lattes.cnpq.br/4750299902344077</a></pr>
    </div>

    <br><br>

    <p>Clique <a href="PageBCorpoDocente" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
