@{
    ViewData["Title"] = "Corpo Docente";
}

<br>

<h2>CORPO DOCENTE - MEMBROS DO DEPARTAMENTO</h2>

<br><br>


<h3>ROSIRAN CARVALHO DE FREITAS MONTENEGRO</h3>

    <br>

    <img src="~/img/FOTO ROSIRAN CARVALHO DE FREITAS MONTENEGRO.jpeg" weight="100" height="200">
    
    <br><br>

    <div>
    <pr>GRADUAÇÃO: Serviço Social - PUC-SP</pr>
    </div>

    <div>
    <pr>MESTRADO: Serviço Social - PUC-SP</pr>
    </div>

    <div>
    <pr>DOUTORADO: Serviço Social - PUC-SP</pr>
    </div>

    <br>
    
    <div>
    <pr>GRUPO DE PESQUISA: DIRETÓRIO DE PESQUISA DO NÚCLEO DE POLÍTICAS PÚBLICAS SOCIAIS</pr>    
    </div>

    <div>
    <pr>LINHA DE PESQUISA: Serviço Social, Políticas Sociais e Movimentos Sociais. Proteção Social, Envelhecimento e Cuidado como Direito Social.</pr>    
    </div>

    <br>

    <div>
    <pr>E-MAIL: rosiran.montenegro@unifesp.br</pr>
    </div>

    <div>
    <pr>Currículo LATTES: <a href="http://lattes.cnpq.br/0480236626426753">http://lattes.cnpq.br/0480236626426753</a></pr>
    </div>

    <br><br>

    <p>Clique <a href="PageBCorpoDocente" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
