@{
    ViewData["Title"] = "Corpo Docente";
}

<br>

 <h2>CORPO DOCENTE - MEMBROS DO DEPARTAMENTO</h2>

<br><br>


<h3>JAQUELINE KALMUS</h3>

    <br>

    <img src="~/img/FOTO JAQUELINE KALMUS.jpg" weight="100" height="200">
    
    <br><br>

    <div>
    <pr>GRADUAÇÃO: Psicologia - Universidade de São Paulo</pr>
    </div>

    <div>
    <pr>MESTRADO: Psicologia Escolar e do Desenvolvimento Humano - USP</pr>
    </div>

    <div>
    <pr>DOUTORADO: Psicologia Escolar e do Desenvolvimento Humano - USP</pr>
    </div>

    <div>
    <pr>PÓS-DOUTORADO: Psicologia Escolar e do Desenvolvimento Humano - USP</pr>
    </div>
    
    <br>
    
    <div>
    <pr>GRUPO DE PESQUISA: GCAF</pr>    
    </div>

    <div>
    <pr>LINHA DE PESQUISA: Educação, sujeito e sociedade</pr>    
    </div>

    <br>

    <div>
    <pr>E-MAIL: jkalmus@unifesp.br</pr>
    </div>

    <div>
    <pr>Currículo LATTES:<a href=" http://lattes.cnpq.br/0502853525156607"> http://lattes.cnpq.br/0502853525156607</a></pr>
    </div>

    <br><br>

    <p>Clique <a href="PageBCorpoDocente" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
