@{
    ViewData["Title"] = "Corpo Docente";
}

<br>

<h2>CORPO DOCENTE - MEMBROS DO DEPARTAMENTO</h2>

<br><br>


<h3>LIA THIEME OIKAWA ZANGIROLANI</h3>

    <br>

    <img src="~/img/FOTO LIA T. O. ZANGIROLANI.jpg" weight="100" height="200">
    
    <br><br>

    <div>
    <pr>GRADUAÇÃO: Nutrição</pr>
    </div>

    <div>
    <pr>MESTRADO: Saúde Coletiva - Epidemiologia</pr>
    </div>

    <div>
    <pr>DOUTORADO: Saúde Coletiva - Epidemiologia</pr>
    </div>
      
    <br>
    
    <div>
    <pr>GRUPO DE PESQUISA: Laboratório de Segurança Alimentar e Nutricional e Políticas Públicas</pr>    
    </div>

    <div>
    <pr>LINHA DE PESQUISA: Nutrição e Saúde Coletiva, Políticas Públicas de Alimentação e Nutrição, Epidemiologia Nutricional</pr>    
    </div>

    <br>

    <div>
    <pr>E-MAIL: lia.oikawa@unifesp.br</pr>
    </div>

    <div>
    <pr>Currículo LATTES: <a href="http://lattes.cnpq.br/6450285456968682">http://lattes.cnpq.br/6450285456968682</a></pr>
    </div>

    <br><br>

    <p>Clique <a href="PageBCorpoDocente" class="button2">AQUI</a> para voltar à página anterior</p>
    <p>Clique <a href="Index" class="button2">AQUI</a> para voltar à página inicial</p>
