@model Cadastro;

@{
    ViewData["Title"] = "Atualize seus dados";
}

<br>


<h2>Faça a atualização dos seus dados:</h2>
<br>

<form method="POST" asp-action="Editar">

    <input type="hidden" asp-for = "idcadastro" required>

    <p>Nome: <input asp-for = "nome" required></p>
    
    <p>Curso: <input asp-for = "curso" required></p>
    
    <p>Telefone / Whatsapp: <input asp-for = "telefone" required></p>

    <p>E-mail / Login: <input asp-for = "email" required></p>
    
    <p>Senha: <input asp-for = "senha" required></p>

    <p>Data de Nascimento: <input asp-for = "datanascimento" required></p>

    <input type="submit" value="Editar">

    <p class="mensagem-style">@ViewBag.Editar</p>
    
</form>

<br>
<a href="/Cadastro/Listagem">CLIQUE AQUI PARA ACESSAR A LISTAGEM ATUALIZADA</a>