@{
    ViewData["Title"] = "Restrito";
}

<br>

<h2>Escolha a lista que deseja acessar:</h2>
        <br>
        <div style="text-align: center;">
        <h4>LISTA DOS MEMBROS DO DEPARTAMENTO</h4> 
        <a href="/Cadastro/Listagem" class="button">CLIQUE AQUI</a>
        </div>
        <br>
        <div style="text-align: center;">
        <h4>LISTA DE CONTATOS - FALE CONOSCO</h4>
        <a href="/Cadastro/ListaFaleConosco" class="button">CLIQUE AQUI</a> 
        </div>

    <br><br>
